In [4]:
#open a text file in 'write' mode to write the given lines
f=open("textfile.txt",'w')
f.write("first line\n")
f.write("second line\n")
f.write("third line\n")
f.close()
#open a text file in 'read' mode to read and print the available lines - readline function
k=open("textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()

first line

second line

third line

In [5]:
#open a text file in 'append'mode to add/append new line inputs
m=open("textfile.txt",'a')
m.write("fourth line\n")
m.write("fifth line\n")
m.close()
#open a text file in 'Read'  mode to read and print the available full text- read function
p=open("textfile.txt",'r')
print(p.read())
p.close()

first line
second line
third line
fourth line
fifth line

In [10]:
with open("textfile.txt",'r') as file:
    lines=file.readlines()
    print(lines)

['first line\n', 'second line\n', 'third line\n', 'fourth line\n', 'fifth line\n']

In [11]:
import json
#JSON string
x='{"name":"John","age":30,"city":"New York"}'
#convert JSON string to python dictionary
y=json.loads(x)
print(y["age"])

30

In [12]:
#python dictionary
data={
    "name":"John",
    "age":30,
    "city":"New York"
}
#convert python dictionary to JSON string
json_data=json.dumps(data)
print(json_data)

{"name": "John", "age": 30, "city": "New York"}