In [2]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['one','two','three'],columns=['a','b','c'])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [20]:
#taking the input from Dataframe and storing in the excel file
print("Taking the input from Dataframe and storing in the excel file")
df.to_excel('pandas_to_excel.xlsx',sheet_name='new_sheet_name')

Taking the input from Dataframe and storing in the excel file

In [19]:
#second DataFrame input to another Excelfile
d=pd.DataFrame([[110,210,310],[12,220,320],[310,320,330]],index=['four','five','six'],columns=['a','b','c'])
d.to_excel('pandas_to_excel1.xlsx',sheet_name='new_sheet_name')

In [22]:
#merging two excel files input into third file
x=pd.read_excel('pandas_to_excel.xlsx')
y=pd.read_excel('pandas_to_excel1.xlsx')
z=pd.concat([x,y])
z.to_excel('pandas_to_excel5.xlsx')

In [23]:
#sorting the column values
dz=z.sort_values(["a"])
print(df)
df.to_excel('d:\pandas_to_excel4.xlsx')

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipython-input-2976383672.py:4: SyntaxWarning: invalid escape sequence '\p'
  df.to_excel('d:\pandas_to_excel4.xlsx')